:root {
  --light-red: hsl(0, 100%, 67%);
  --orange-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  --light-stale-blue-gradient: hsl(252, 100%, 67%);
  --light-royal-blue-background: hsl(241, 81%, 54%);

  --violet-blue-circle: hsla(256, 72%, 46%, 1);
  --persian-blue-circle: hsla(241, 72%, 46%, 0);

  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-grey-blue: hsl(224, 30%, 27%);
}
*,
body {
  margin: 0;
  color: var(--white);
}

.summary-container {
  justify-content: center;
  align-items: center;
  max-width: 720px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--dark-grey-blue);
  margin: 0 auto;
  margin-top: 10%;
  display: flex;
  max-height: 500px;
  border-radius: 30px;
  background-color: var(--white);
}
.summary-total-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--cobalt-blue);
  height: 400px;
  border-radius: 30px;
  background: linear-gradient(
    to bottom,
    var(--light-stale-blue-gradient),
    var(--light-royal-blue-background)
  );
}

.summary-action-container {
  flex: 1;
  margin: 0;
  height: 400px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.summary-action-container h2 {
  color: var(--dark-grey-blue);
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.summary-item:nth-child(1) {
  background-color: #fef6f5;
}
.summary-item:nth-child(1) p {
  color: #f28c8b;
  font-weight: bold;
}
.summary-item span {
  color: black;
}
.summary-item .score {
  font-weight: bold;
}

.summary-item:nth-child(2) {
  background-color: #fefbf2;
}
.summary-item:nth-child(2) p {
  color: #ecca76;
  font-weight: bold;
}

.summary-item:nth-child(3) {
  background-color: #f2fbfa;
}
.summary-item:nth-child(3) p {
  color: #68b3a2;
  font-weight: bold;
}

.summary-item:nth-child(4) {
  background-color: #f3f3fd;
}
.summary-item:nth-child(4) p {
  color: #5157bd;
  font-weight: bold;
}

.summary-item {
  padding: 12px 10px;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin: 10px 0px;
  width: 250px;
  border-radius: 10px;
}

.summary-item-text {
  display: flex;
  gap: 10px;
}
.summary-item-text img {
  width: 20px;
}

.summary-circle {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    var(--violet-blue-circle),
    var(--persian-blue-circle)
  );
  margin-bottom: 20px;
}

.summary-title {
  font-size: 1.2rem;
  opacity: 0.5;
  margin-bottom: 20px;
}
.summary-total {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.summary-total p {
  font-size: 3rem;
  font-weight: bold;
}
.summary-total span {
  opacity: 0.4;
}

.summary-message {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.summary-description {
  width: 200px;
  text-align: center;
  opacity: 0.4;
}

.summary-cta button {
  width: 280px;
  padding: 15px;
  color: var(--white);
  background-color: #303b59;
  border-radius: 25px;
  border: none;
  margin-top: 20px;
}

.summary-cta button:hover {
  cursor: pointer;
  background-color: var(--violet-blue-circle);
}

@media screen and (max-width: 480px) {
  html,
  body {
    height: 100%;
    margin: 0;
  }
  .summary-container {
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 100%;
  }
  .summary-total-container {
    flex: 3;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .summary-description {
    width: 250px;
  }
  .summary-action-container {
    flex: 6;
  }
  .summary-cta button {
    width: 300px;
  }
  .summary-item {
    width: 300px;
  }
}
