
@use "../../variables";

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card {
    flex:1;
    width: 100%;
    border: 1px solid  variables.$purplish_blue;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    > :nth-child(1) {
        flex:1;
    }
    > :nth-child(2) {
        text-align: left;
        flex:5;
    }
    > :nth-child(3) {
        flex:1;
        color:variables.$purplish_blue;
    }
    &:hover {
        cursor: pointer;
    }
}
.picked {
    background-color: variables.$magnolia;
}


@media only screen and (max-width: 720px) {
    .container {
        max-width: 300px;
        h3 {
            font-size: 1rem;
        }
        p {
            font-size: 12px;
        }
    }
    .cards {
        flex-direction: column;
        .card {
             flex-direction: row;
             justify-content: flex-start;
             gap: 1rem;
             padding-top: 10px;
             padding-bottom: 10px;
        }
    }
}